   /* record div */
   .record_div {
    background-color: #ffffff;
    z-index: 1000;
    margin: .5%;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #000000;
    display: inline-block;
  
  }



  .small-card{
    width: 200px !important;
    height: 200px !important;



  }

  .featured_image {
    width: 200px !important;
    height: 200px !important;
    border-radius: 15px !important;

  }

  .small-card-div{
    display: flex;
    flex-wrap: wrap !important;

  }

/* CSS for aligning the image within small-card-container */
.small-card-container {
  width: 200px !important; /* Set the desired width */
  height: 200px !important; /* Set the desired height */
 /* display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  border: 3px solid black !important; /* Add a border for visualization */
}

/* Style for the featured_image_small */
.featured_image_small {
  max-width: 100% !important;
  max-height: 100% !important;
  border-radius: 15px !important;
  border: 3px solid black !important; /* Add a border for visualization */
}

/* Ensure small-card has the same width and height */
.small-card {
  width: 200px !important; /* Set the same width as small-card-container */
  height: 200px !important; /* Set the same height as small-card-container */
  float: left;
  margin: 15px;
}

.left-button-container {
  background-color: #ffffff;

}

.left-column {
  background-color: #ffffff;

}

.page_content {
  color: rgb(0, 0, 0) !important;
  font-size: 18pt !important;
}

.page_content, .page_content a,  .page_content i{
  color: rgb(0, 0, 0) !important;
}



body {

  background-color: #ffffff;

}                                        

.overlay{
  border-radius: 15px !important;
  width: 205px !important; /* Set the same width as small-card-container */
  height: 205px !important; /* Set the same height as small-card-container */
  display: flex;
  flex-direction: column;
  font-size: 12pt;
}

.overlay i{
  font-size: 12pt;
}


.page_header {
  color: rgb(0, 0, 0) !important;
  font-family: Arial !important;
  font-weight: bold !important;
  font-size: 35pt !important;
}

.display-picture{
    width: 10%;
    border-radius: 15px !important;
    margin-left: 150px;
    margin-right: 150px;

}


.display-picture img {
    height: 105%;
    width: 100%;
    border-radius: 15px !important;
    border: 3px solid #000000;


  }

  .two-image-page {
    background-color: #ffffff;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .main-content{
    background-color: #ffffff;

  }


  .hr{
    color: #FFC000;
  }

  .icon-text {
    color: rgb(0, 0, 0) !important;
    font-family: Arial !important;
    font-weight: bold !important;
    font-size: 25pt !important;
  }